.logo {
  display: block;
  flex: 0 0 176px;
  width: 176px;
}

.logo img {
  display: block;
  width: 100%;
  height: auto;
}

.logo .dark {
  display: none;
}

:global(html[data-theme="dark"]) .logo .light {
  display: none;
}

:global(html[data-theme="dark"]) .logo .dark {
  display: block;
}

@media (max-width: 620px) {
  .logo {
    flex-basis: 144px;
    width: 144px;
  }
}
