{$DOMAIN} {
	request_body {
		max_size 50MB
	}
	encode zstd gzip
	header {
		X-Content-Type-Options nosniff
		Referrer-Policy strict-origin-when-cross-origin
		X-Robots-Tag "noindex, nofollow"
		-Server
	}
	reverse_proxy frontend:3000
}
